@import "tailwindcss";

@theme {
  --color-gold: #d7b56d;
  --color-goldLight: #f4d58d;
}

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #030712;
  color: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}
